.article-page {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 20px 0 20px;
    font-family: "Montserrat", sans-serif;
  }

  .article-page img {
    border-radius: 15px;
  }
  
  .article-page-header {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin-top: 30Px;
    font-style: normal;
  }
  
  .article-page-header-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .article-page-header-infos-title {
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 5px;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
  }
  
  .article-page-header-infos-subtitle {
    width: 100%;
    font-size: 18px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: justify;
    white-space: pre-line;
   
  }

  .article-main {
    padding-bottom: 30px;
  }

  .article-page-link {
    font-size: 18px;
    color: #000000;
    text-underline-position: under;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {

    .article-page-header {
      flex-direction: column;
    }
   
  }

  @media screen and (max-width: 768px) {

    .article-page-header {
      flex-direction: column;
      margin-top: 18px;
    }
   
    .article-page-header-infos-title {
      font-size: 22px;
    }

    .article-page-header-infos-subtitle {
      font-size: 14px;
    }
   
    .article-page-link {
      font-size: 14px;
    }  
    
  }